.main-box {
    padding: 20px;
    background: #f2f2f2;
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
}

.heading {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.content-box {
    display: flex;
    gap: 20px;
}

.left-part {
    width: 35%;
    background: white;
    border: 1px solid black;
    height: fit-content;
}

.right-part {
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 6px;
    overflow: hidden;
}

.module-box {
    border-bottom: 1px solid gray;
}

.module-title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background: #f9f9f9;
}

.lesson-text {
    font-size: 12px;
    padding: 7px 10px;
    cursor: pointer;
    margin: 0;
    border-bottom: 1px solid #eee;
}

.lesson-text:hover {
    background: #e3f2fd;
}

.active {
    background: #bbdefb;
    font-weight: bold;
}

.desc {
    font-size: 13px;
    color: #333;
    line-height: 1.7;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.code-box {
    background: #1e1e1e;
    color: #33ff33;
    padding: 15px;
    border-radius: 6px;
    margin-top: 15px;
    overflow-x: auto;
}

.code-box pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: anywhere;
    font-size: 12px;
    line-height: 1.6;
}

/* Mobile */
@media (max-width: 480px) {
    .main-box {
        padding: 10px;
    }

    .heading {
        font-size: 18px;
    }

    .content-box {
        flex-direction: column;
    }

    .left-part {
        width: 100%;
    }

    .right-part {
        width: 100%;
    }

    .module-title {
        font-size: 13px;
    }
}

/* Iphone */
@media (max-width: 430px) and (min-width: 360px) {
    .heading {
        font-size: 16px;
    }

    .lesson-text {
        font-size: 11px;
    }

    .code-box pre {
        font-size: 10px;
    }

    .right-part {
        padding: 10px;
    }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .content-box {
        flex-direction: column;
    }

    .left-part {
        width: 100%;
    }

    .right-part {
        width: 100%;
    }

    .heading {
        font-size: 20px;
    }
}

/* Desktop */
@media (min-width: 769px) {
    .content-box {
        flex-direction: row;
    }

    .left-part {
        width: 35%;
    }

    .right-part {
        width: 65%;
    }
}